<div class="background">


    <div class="container">

      <h2 class="titles">
      <%= @participation.diving.spot.name %>
      </h2>

      <h4 class="titles">
        <%= (@participation.diving.date).strftime("%d/%m/%Y") %>
      </h4>

      <div class="action-icons">
        <%= link_to '<i class="fa-regular fa-pen-to-square" style="color: #0C0150;"></i>'.html_safe, edit_diving_participation_path(@participation.diving, @participation) %>
        <%= link_to '<i class="fa-regular fa-trash-can" style="color: #0C0150;"></i>'.html_safe, participation_path(@participation), data: { turbo_method: :delete, turbo_confirm: "Do you really want to delete this participation?" } %>
      </div>

      <%= cl_image_tag @participation.diving.spot.photo.key, height: 150, width: 150, crop: :fill, class: 'show-photo' %>

      <div id="rating">
        <% if @participation.rating %>
          <% (@participation.rating).times do %>
            <i class="fa-solid fa-star" style="color: #10A59C;"></i>
          <% end %>
        <% end %>
      </div>

      <div class="stats-show">
          <p>
            <i class="fa-solid fa-cloud fa-lg"></i>
            <%= @participation.diving.weather %>
          </p>

          <p>
            <i class="fa-solid fa-temperature-low fa-lg"></i>
            <%= @participation.diving.temperature %>°C
          </p>

          <p>
            <i class="fa-solid fa-binoculars fa-lg"></i>
            <%= @participation.diving.visibility %>M
          </p>

          <p>
            <i class="fa-solid fa-school fa-lg"></i>
            <%= @participation.diving.school.name %>
          </p>

          <p>
            <i class="fa-solid fa-user fa-lg"></i>
            <%= @participation.diving.school.dive_master %>
          </p>

          <p>
            <i class="fa-solid fa-fish fa-lg"></i>
            <%# species %>
          </p>

          <p>
            <i class="fa-solid fa-arrow-down fa-lg"></i>
            <%= @participation.depth %>M
          </p>

          <p>
            <i class="fa-solid fa-mask-ventilator fa-lg"></i>
            <%= (@participation.gas).capitalize %>
          </p>

          <p>
            <i class="fa-solid fa-stopwatch fa-lg"></i>
            <%= @participation.diving_time %> min
          </p>

          <p>
            <i class="fa-regular fa-message fa-lg"></i>
            <%= @participation.comment %>
          </p>
      </div>
    </div>
</div>

<%= render 'shared/tapbar' %>

<%# <div class="carousel-inner">
  <% @participation.photos.each do |photo| %>
    <%# <div class="carousel-item <%= 'active' if index.zero? %>
      <%# <div class="carousel-caption d-md-block"> %>
        <%# <%= cl_image_tag @participation.photo.key %>
      <%# </div>
    </div> %>
  <%# <% end %>
<%# </div>  %>
