<% content_for :page_title, "Welcome to.." %>

<div class="background">
  <div class="container">
    <h2 class="titles">
      <%= @spot.name%>
    </h2>
    
   
    <%= cl_image_tag @spot.photo.key, height: 250, width: 350, crop: :fill, class: 'spot-photo mb-3' %>
 
    <div class="spot-description">
      <%= @spot.description %>
    </div>

    <div class="diving-date-list">
        <% @divings.each do |diving| %>
          <li class="list-divings">
          <p> <%= (diving.date).strftime("%d/%m/%Y") %>  <%= link_to '<i class="fa-solid fa-user-plus"></i>'.html_safe, new_diving_participation_path(diving) %> </p>
          </li>
        <% end %>
      </div>
    </div>
<div class="background">


<h4 class="mb-2">Dives already registered on this spot :</h4>

         
<%= render 'shared/tapbar' %>
