<div class="form-container">
  <%= simple_form_for(@diving) do |f| %>
    <div class="input-case calendar-position mb-2">
      <div class="input-title mb-2"><%= "I dived on the..." %></div>
      <%= f.input :date, label: false, html5: true %>
    </div>

    <div class="input-case">
      <div class="input-title mb-2"><%= "The weather was..." %></div>
      <%= f.input :weather,
                  as: :radio_buttons,
                  legend_tag: false,
                  collection: [[raw('<i class="fa-solid fa-sun fa-2xl"></i>'),"Sunny"],
                               [raw('<i class="fa-solid fa-wind fa-2xl"></i>'),"Windy"],
                               [raw('<i class="fa-solid fa-cloud fa-2xl"></i>'),"Cloudy"],
                               [raw('<i class="fa-solid fa-cloud-bolt fa-2xl"></i>'),"Storm"]
                              ],
                  wrapper_class: "d-flex",
                  input_html: { class: "sr-only"},
                  item_wrapper_class: "titi",
                  item_label_class: "tata"
      %>
    </div>

    <div class="input-case">
      <%= f.input :temperature, as: :range, legend_tag: false, collection: 0..25, prompt: "Enter the water's temperature" %>
    </div>

    <div class="input-case">
      <%= f.input :visibility, as: :range, legend_tag: false, collection: 0..15, prompt: "How visibile was it?" %>
    </div>

    <div class="input-spot">
    <div class="input-title mb-2"><%= "Select your spot" %></div>
      <%= f.association :spot,
                  as: :radio_buttons,
                  legend_tag: false,
                  collection: Spot.all.map { |spot| [render('divings/partials/spot_label', spot: spot), spot.id] },
                  wrapper_class: "d-flex",
                  input_html: { class: "sr-only"},
                  item_wrapper_class: "titi",
                  item_label_class: "tata"
      %>
    </div>

    <div class="input-school">
    <div class="input-title mb-2"><%= "Select your school" %></div>
      <%= f.association :school,
                  as: :radio_buttons,
                  legend_tag: false,
                  collection: School.all.map { |school| [render('divings/partials/school_label', school: school), school.id] },
                  wrapper_class: "d-flex",
                  input_html: { class: "sr-only"},
                  item_wrapper_class: "titi",
                  item_label_class: "tata"
      %>
    </div>

    <div class="button-container">
        <%= f.submit value: "Create your dive", class:"btn btn-outline-light"%>
    </div>
  <% end %>
</div>
