<div class="form-container">
  <%= simple_form_for(@diving) do |f| %>
    <div class="input-case calendar-position">
      <%= "I dived on the..." %>
      <%= f.input :date, label: false, html5: true %>
    </div>

    <div class="input-case">
      <%= "The weather was..." %>
      <%= f.input :weather,
                  as: :radio_buttons,
                  legend_tag: false,
                  collection: [[raw('<i class="fa-solid fa-sun fa-2xl"></i>'),"Sunny"],
                               [raw('<i class="fa-solid fa-wind fa-2xl"></i>'),"Windy"],
                               [raw('<i class="fa-solid fa-cloud fa-2xl"></i>'),"Cloudy"],
                               [raw('<i class="fa-solid fa-cloud-bolt fa-2xl"></i>'),"Storm"]
                              ],
                  wrapper_class: "d-flex",
                  input_html: { class: "sr-only"},
                  item_wrapper_class: "titi",
                  item_label_class: "tata"
      %>
    </div>

    <div class="input-case">
      <%= f.input :temperature, as: :range, legend_tag: false, collection: 0..25, prompt: "Enter the water's temperature", selected: 15 %>
    </div>

    <div class="input-case">
      <%= f.input :visibility, as: :range, legend_tag: false, collection: 0..15, prompt: "How visibile was it?", selected: 5 %>
    </div>

    <div class="input-spot">
      <%= f.input :spot,
                  as: :radio_buttons,
                  legend_tag: false,
                  collection: Spot.all.map { |spot| [render('divings/partials/spot_label', spot: spot), spot.id] },
                  wrapper_class: "d-flex",
                  input_html: { class: "sr-only"},
                  item_wrapper_class: "titi",
                  item_label_class: "tata"
      %>
    </div>

    <div class="button-container">
        <%= f.submit value: "Create your dive", class:"btn btn-light"%>
    </div>
  <% end %>
</div>
