<% if current_page?("http://localhost:3000/") || current_page?("https://www.scubapp.org/") || current_page?("http://127.0.0.1:3000/")%>
  <div></div>
<% else %>
  <div class="div-banner container">
    <h2 class="titles"><%= page_title %></h2>
    <div>
      <ul class="navbar-nav me-auto">
        <% if user_signed_in?%>
          <li class="nav-item dropdown">
            <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <% if current_user.photo.attached? %>
                <%= cl_image_tag current_user.photo.key, id:"avatar", height: 45, width: 45, crop: :fill%>
              <% else %>
                <%= image_tag "user.jpg", id:"avatar", height: 45, width: 45 %>
              <% end %>
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
