<%# <div class="scubapp-nav"> %>
  <%# <div class="home-link">
    <%= link_to '<i class="fa-solid fa-house"></i>'.html_safe, root_path %>
  <%# </div> %>

  <%# <div class="index"> %>
    <%# <%= link_to '<span class="material-symbols-outlined">scuba_diving</span>'.html_safe, participations_path %>
  <%# </div> %>

  <%# <div class="new-diving">
    <%= link_to '<i class="fa-sharp fa-solid fa-plus"></i>'.html_safe, new_diving_path %>
  <%# </div> %>

  <%# <div class="map-search">
    <%= link_to '<i class="fa-solid fa-map"></i>'.html_safe, spots_path %>
  <%# </div> %>

  <%# <div class="profile-photo">
    <%= link_to '<i class="fa-regular fa-user" style="color: #000000;"></i>'.html_safe, root_path %>
  <%# </div> %>
<%# </div> %>

<%# <div class="container"> %>
  <div class="bar">

    <%# homepage %>
    <div class="bar-item pre-active" onclick="changeActive(this)">
      <div class="bar-fluid"></div>
      <div class="drop"></div>
      <%= link_to '<i class="fa-solid fa-house"></i>'.html_safe, root_path, class: "link" %>
    </div>

    <%# index %>
    <div class="bar-item" onclick="changeActive(this)">
      <div class="bar-fluid"></div>
      <div class="drop"></div>
      <%= link_to '<span class="material-symbols-outlined">scuba_diving</span>'.html_safe, participations_path, class: "link" %>
    </div>

    <%# new diving %>
    <div class="bar-item" onclick="changeActive(this)">
      <div class="bar-fluid"></div>
      <div class="drop"></div>
      <%= link_to '<i class="fa-sharp fa-solid fa-plus"></i>'.html_safe, new_diving_path, class: "link" %>
    </div>

    <%# map %>
    <div class="bar-item" onclick="changeActive(this)">
      <div class="bar-fluid"></div>
      <div class="drop"></div>
      <%= link_to '<i class="fa-solid fa-map"></i>'.html_safe, spots_path, class: "link" %>
    </div>

    <%# profile %>
    <div class="bar-item" onclick="changeActive(this)">
      <div class="bar-fluid"></div>
      <div class="drop"></div>
      <%= link_to '<i class="fa-regular fa-user" style="color: #000000;"></i>'.html_safe, root_path, class: "link" %>
    </div>

  </div>
<%# </div> %>
