<div class="bar" data-controller="tapbar">

  <%# HOMEPAGE %>
  <div class="bar-item <%= 'active' if current_page?(pages_path) %> pre-active" >
    <div class="bar-fluid"></div>
    <div class="drop"></div>
    <%= link_to '<i class="fa-solid fa-house"></i>'.html_safe, pages_path, class: "link" %>
  </div>

  <%# INDEX PARTICIPATION %>
  <div class="bar-item <%= 'active' if current_page?(participations_path) %> pre-active" >
    <div class="bar-fluid"></div>
    <div class="drop"></div>
    <%= link_to '<span class="material-symbols-outlined">scuba_diving</span>'.html_safe, participations_path, class: "link" %>
  </div>

  <%# NEW DIVING %>
  <div class="bar-item <%= 'active' if current_page?(new_diving_path) %> pre-active" >
    <div class="bar-fluid"></div>
    <div class="drop"></div>
    <%= link_to '<i class="fa-sharp fa-solid fa-plus"></i>'.html_safe, new_diving_path, class: "link" %>
  </div>

  <%# MAP %>
  <div class="bar-item <%= 'active' if current_page?(spots_path) %> pre-active" >
    <div class="bar-fluid"></div>
    <div class="drop"></div>
    <%= link_to '<i class="fa-solid fa-map"></i>'.html_safe, spots_path, class: "link" %>
  </div>

  <%# animals %>
  <div class="bar-item <%= 'active' if current_page?(pages_path) %> pre-active" >
    <div class="bar-fluid"></div>
    <div class="drop"></div>
    <%= link_to '<i class="fa-solid fa-fish"></i>'.html_safe, pages_path, class: "link" %>
  </div>

</div>
