  <div class="cards" data-searchbar-target="list">

    <%# PHOTO %>
    <% participations.each do |participation| %>
      <div class="card-participation mb-3 mt-4">
        <% if participation.photos.count == 0 %>
          <%= cl_image_tag participation.diving.spot.photo.key, height: 300, width: 400, crop: :fill %>
        <% else %>
          <%= cl_image_tag participation.photos.first.key, height: 300, width: 400, crop: :fill %>
        <% end %>
          <div class="card-infos">

            <%# FIRST LINE %>
            <div class="row">

              <%# TITLE %>
              <div class="col-6">
                <h2 class="titles-cards"><%= link_to (participation.diving.spot.name).upcase, participation_path(participation), method: :get %></h2>
              </div>

              <%# DATE %>
              <div class="col-3">
                <p id="date"><%= (participation.diving.date).strftime("%d/%m/%y") %></p>
              </div>

              <%# TEMP %>
              <div class="col-3">
                <p id="temp"><i class="fa-solid fa-temperature-three-quarters" style="color: #5B77BE"></i><%= participation.diving.temperature %>°C</p>
              </div>

            </div>

            <%# 2ND LINE %>
            <div class="row">

              <%# RATING %>
              <div class="col-6">
                <p id="stars">
                  <% if participation.rating %>
                    <% (participation.rating).times do %>
                      <i class="fa-solid fa-star" style="color: #ff4500"></i>
                    <% end %>
                  <% end %>
                </p>
              </div>

              <%# TIME %>
              <div class="col-3">
                <p id="time"><i class="fa-solid fa-stopwatch" style="color: #5B77BE"></i><%= participation.diving_time %>'</p>
              </div>

              <%# DEPTH %>
              <div class="col-3">
                <p id="depth"><i class="fa-solid fa-arrow-down" style="color: #5B77BE"></i><%= participation.depth %>M</p>
              </div>

            </div>
          </div>
      </div>
    <% end %>
  </div>
