  <div class="cards">
    <% @participations.each do |participation| %>
      <div class="card-participation mb-3 mt-4">
        <% if participation.photos.count == 0 %>
          <%= cl_image_tag participation.diving.spot.photo.key, height: 300, width: 400, crop: :fill %>
        <% else %>
          <%= cl_image_tag participation.photos.first.key, height: 300, width: 400, crop: :fill %>
        <% end %>
          <div class="card-infos">
            <div>
              <h2><%= link_to participation.diving.spot.name, participation_path(participation), method: :get %></h2>
              <p><%= (participation.diving.date).strftime("%d/%m/%Y") %></p>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <p id="stars">
                <% if participation.rating %>
                  <% (participation.rating).times do %>
                    <i class="fa-solid fa-star" style="color: #ffd43b;"></i>
                  <% end %>
                <% end %>
              </p>
            </div>
            <div class="col-6">
              <div class="action-icons">
                <%= link_to '<i class="fa-regular fa-pen-to-square" style="color: #FFFFFF;"></i>'.html_safe, edit_diving_participation_path(participation.diving, participation) %>
                <%= link_to '<i class="fa-regular fa-trash-can" style="color: #FFFFFF;"></i>'.html_safe, participation_path(participation), data: { turbo_method: :delete, turbo_confirm: "Do you really want to delete this participation?" } %>
              </div>
            </div>
          </div>
      </div>
    <% end %>
  </div>
