  <div class="cards">
    <% @participations.each do |participation| %>
      <div class="card-participation mb-3 mt-4">
        <% if participation.photos.count == 0 %>
          <%= cl_image_tag participation.diving.spot.photo.key, height: 300, width: 400, crop: :fill %>
        <% else %>
          <%= cl_image_tag participation.photos.first.key, height: 300, width: 400, crop: :fill %>
        <% end %>
          <div class="card-infos">

            <%# First line %>
            <div class="row">

              <%# Title %>
              <div class="col-6">
                <h2><%= link_to (participation.diving.spot.name).upcase, participation_path(participation), method: :get %></h2>
              </div>

              <%# Time %>
              <div class="col-2">
                <p id="time"><i class="fa-solid fa-stopwatch" style="color: #5B77BE"></i><%= participation.diving_time %>'</p>
              </div>

              <%# Date %>
              <div class="col-4">
                <p id="date"><%= (participation.diving.date).strftime("%d/%m/%Y") %></p>
              </div>
            </div>

            <%# Second line %>
            <div class="row">

              <%# Rating %>
              <div class="col-6">
                <p id="stars">
                  <% if participation.rating %>
                    <% (participation.rating).times do %>
                      <i class="fa-solid fa-star" style="color: #10A59C"></i>
                    <% end %>
                  <% end %>
                </p>
              </div>

              <%# Depth %>
              <div class="col-3">
                <p><i class="material-symbols-outlined">scuba_diving</i><%= participation.depth %>M</p>
              </div>

              <%# Temperature %>
              <div class="col-3">
                <p id="temp"><i class="fa-solid fa-temperature-three-quarters" style="color: #5B77BE"></i><%= participation.diving.temperature %>°C</p>
              </div>
            </div>
          </div>
      </div>
    <% end %>
  </div>
