
<div class="form-container" data-controller="stars" >

  <%= simple_form_for([@participation.diving, @participation]) do |f| %>

    <div class="input-case" data-controller="graduated-range">
      <%#= f.input :diving_time, as: :range, input_html: { list:"tickmarks" }, label: "I spent", collection: 0..120 %>
      <div class="form-label range optional">T spent : <span data-graduated-range-target="value"> 15 </span> degrees </div>

      <div class="mb-3 range optional participation_diving_time">

        <input class="numeric range optional w100"
               list="tickmarks"
               type="range"
               step="1"
               name="participation[diving_time]"
               id="participation_diving_time"
               data-action="graduated-range#changeValue"
               min="0"
               max="120">
        <datalist id="tickmarks">
          <option value="0"></option>
          <option value="10"></option>
          <option value="20"></option>
          <option value="30"></option>
          <option value="40"></option>
          <option value="50"></option>
          <option value="60"></option>
          <option value="70"></option>
          <option value="80"></option>
          <option value="90"></option>
          <option value="100"></option>
        </datalist>

        <div class="range_graduation">
          <div>0</div>
          <div>30</div>
          <div>60</div>
          <div>120</div>
        </div>

      </div>


    </div>


    <div>
      <%= f.input :depth, as: :range, label: "in",  collection: 0..50, prompt: "Enter the diving depth", selected: 10%>
    </div>

    <div class="input-case">
      <%= f.input :gas, label: "breathing", collection: ["air", "nitrox", "trimix", "helios", "oxygen", "argon"], include_blank: "Select the gas used" %>
    </div>

    <div>
      <% 5.times do |i| %>
        <i class="fa-regular fa-star" data-stars-target="rating"  data-action="click->stars#fill" data-value=<%= i + 1 %>></i>
      <% end %>
      <%= f.input :rating, as: :hidden, input_html: { data: {stars_target: "ratingInput"} }%>
    </div>

    <div>
    <%= f.submit value: "Confirm", class: "btn btn-primary"%>
    </div>

  <% end %>

</div>

<%# <input type="range" list="tickmarks">
<datalist id="tickmarks">
<option value="0"></option>
<option value="10"></option>
<option value="20"></option>
<option value="30"></option>
<option value="40"></option>
<option value="50"></option>
<option value="60"></option>
<option value="70"></option>
<option value="80"></option>
<option value="90"></option>
<option value="120"></option>
</datalist> %>
