
<div class="form-container" data-controller="stars" >

  <%= simple_form_for([@diving, @participation]) do |f| %>

    <div class="input-case mt-5" data-controller="graduated-range">
      <%#= f.input :diving_time, as: :range, input_html: { list:"tickmarks" }, label: "I spent", collection: 0..120 %>
      <div class="form-label range optional">YOU SPENT  <span data-graduated-range-target="value" class="mx-2"><strong> 50 </strong></span> MINUTES UNDER WATER </div>

      <div class="mb-3 range optional participation_diving_time">

        <input class="numeric range optional w100"
               list="tickmarks"
               type="range"
               step="1"
               name="participation[diving_time]"
               id="participation_diving_time"
               data-action="graduated-range#changeValue"
               min="0"
               max="120">
        <datalist id="tickmarks">
          <option value="0"></option>
          <option value="10"></option>
          <option value="20"></option>
          <option value="30"></option>
          <option value="40"></option>
          <option value="50"></option>
          <option value="60"></option>
          <option value="70"></option>
          <option value="80"></option>
          <option value="90"></option>
          <option value="100"></option>
          <option value="120"></option>
        </datalist>

        <div class="range_graduation">
          <div>0</div>
          <div>20</div>
          <div>45</div>
          <div>70</div>
          <div>90</div>
          <div>120</div>
        </div>

      </div>
    </div>


    <div class="input-case" data-controller="graduated-range">
      <div class="form-label range optional">YOU DIVED AT  <span data-graduated-range-target="value" class="mx-2"><strong> 20 </strong></span> METERS </div>

      <div class="mb-3 range optional participation_diving_time">

        <input class="numeric range optional w100"
               list="tickmarks"
               type="range"
               step="1"
               name="participation[depth]"
               id="participation_depth"
               data-action="graduated-range#changeValue"
               min="0"
               max="40">
        <datalist id="tickmarks">
          <option value="0"></option>
          <option value="5"></option>
          <option value="10"></option>
          <option value="15"></option>
          <option value="20"></option>
          <option value="25"></option>
          <option value="30"></option>
          <option value="35"></option>
          <option value="40"></option>
          <option value="45"></option>
          <option value="50"></option>
        </datalist>

        <div class="range_graduation">
          <div>0</div>
          <div>10</div>
          <div>20</div>
          <div>30</div>
          <div>40</div>
        </div>

      </div>
    </div>


    <div class="input-case">
      <%= f.input :gas, label: "SELECT YOUR AIR", collection: ["air", "nitrox", "trimix", "helios", "oxygen", "argon"], include_blank: "Select the gas used" %>
    </div>

    <div class="form-floating mb-4 text optional participation_comment">
      <textarea class="form-control text optional" rows="5" name="participation[comment]" id="participation_comment"></textarea>
      <label class="form-label text optional" for="participation_comment">What about your feelings</label>
    </div>

    <%#= f.input :comment, wrapper_class: "form-floating mb-4", label: "What about your feelings", input_html: {rows: "5"} %>

    <div class="input-case mb-4">
      <%= f.input :photo, as: :file, label: false %>
    </div>

    <div class="stars-rating mb-4">
      <% 5.times do |i| %>
        <i class="fa-regular fa-star" style="color: #10A59C;" data-stars-target="rating"  data-action="click->stars#fill" data-value=<%= i + 1 %>></i>
      <% end %>
      <%= f.input :rating, as: :hidden, input_html: { data: {stars_target: "ratingInput"} }%>
    </div>


    <div class="button-container">
      <%= f.submit value: "Confirm", class: "btn"%>
    </div>

  <% end %>

</div>
