<div class="background-new">

  <div class="homepage-container">
    <%= render 'pages/partials/carousel' %>
    <%# <%= render 'pages/partials/map' %>
  </div>

<div class="stats_home">
  <div class="statistic">
    <h4>Total diving time</h4>
    <p><%= @total_diving_time %> minutes</p>
  </div>

  <div class="statistic">
    <h4>Maximum depth</h4>
    <p><%= @max_depth %> meters</p>
  </div>

  <div class="statistic">
    <h4>Total dives</h4>
    <p><%= @total_dives %></p>
  </div>

  <div class="statistic">
    <h4>Total spots visited</h4>
    <p><%= @total_spots %></p>
  </div>
</div>
