<% content_for :page_title, "Your last dives" %>
<div class="background">

  <div class="container">

    <h2 class="titles mt-3 mb-5">Hi <%= (current_user.nickname).capitalize %>,</h2>

    <%= render 'pages/partials/carousel' %>

    <h4 class="titles mt-4">Your stats</h4>


    <div class="stats_home">

      <div class="statistic">
        <div class="stat-time">
          <% if @total_diving_time > 60 %>
            <% hours = @total_diving_time / 60 %>
            <% minutes = @total_diving_time % 60 %>
            <p><strong><%= "#{hours}h#{sprintf('%02d', minutes)}" %></strong></p>
          <% else %>
            <p><%= @total_diving_time %> minutes</p>
          <% end %>
          <h3>Underwater</h3>
        </div>
      </div>

      <div class="statistic">
        <h1 class="number"><%= @max_depth %>M</h1>
        <h5>Max Depth</h5>
      </div>

      <div class="statistic">
        <h1 class="number"><%= @total_dives %></h1>
        <h5>Dives</h5>
      </div>

      <%# Attention à modifier %>
      <div class="statistic">
        <h1 class="number"><%= @total_dives %></h1>
        <h5>Species seen</h5>
      </div>

      <%# Attention à modifier %>
      <div class="statistic">
        <h1 class="number"><%= @total_spots %></h1>
        <h5>Spots visited</h5>
      </div>

    </div>

  </div>

</div>

<%= render "shared/tapbar" %>
