<% content_for :page_title, "Hi #{(current_user.nickname).capitalize}" %>

<div class="background">

  <div class="container">

    <%= render 'pages/partials/carousel' %>

    <h4 class="titles mt-4">Your stats</h4>

    <div class="stats_home">

      <%# UNDERWATER %>
      <div class="statistic">
        <div class="stat-time">
          <% if @total_diving_time > 60 %>
            <% hours = @total_diving_time / 60 %>
            <% minutes = @total_diving_time % 60 %>
            <h1 class="number"><%= "#{hours}h#{sprintf('%02d', minutes)}" %></h1>
          <% else %>
            <h1 class="number"><%= @total_diving_time %> minutes</h1>
          <% end %>
          <h5 class="stat">Underwater</h5>
        </div>
      </div>

      <%# DEPTH %>
      <div class="statistic">
        <h1 class="number"><%= @max_depth %>M</h1>
        <h5 class="stat">Max Depth</h5>
      </div>

      <%# DIVES %>
      <div class="statistic">
        <h1 class="number"><%= @total_dives %></h1>
        <h5 class="stat">Dives</h5>
      </div>

      <%# SPECIES %>
      <div class="statistic">
        <h1 class="number"><%= @total_animals %></h1>
        <h5 class="stat">Species seen</h5>
      </div>

      <%# SPOTS %>
      <div class="statistic">
        <h1 class="number"><%= @total_spots %></h1>
        <h5 class="stat">Spots visited</h5>
      </div>

    </div>

  </div>

</div>

<%= render "shared/tapbar" %>
